Repository odpf/meteor, pull requests merged in 2021-11, with the labels that each got.

#264 feat(columbus): add "service" field to columbus payload
  models/metadata.go
  models/odpf/assets/bucket.pb.go
  models/odpf/assets/common/resource.pb.go
  models/odpf/assets/dashboard.pb.go
  models/odpf/assets/job.pb.go
  models/odpf/assets/table.pb.go
  models/odpf/assets/topic.pb.go
  plugins/extractors/grafana/grafana.go
  plugins/extractors/grafana/grafana_test.go
  plugins/extractors/metabase/main_test.go
  plugins/extractors/metabase/metabase.go
  plugins/extractors/metabase/metabase_test.go
  plugins/sinks/columbus/columbus.go
  plugins/sinks/columbus/sink.go
  plugins/sinks/columbus/sink_test.go
Labels: sink

#265 feat(metabase): fetch dashboards and charts upstreams
  go.mod
  go.sum
  models/urn.go
  plugins/extractors/bigquery/bigquery.go
  plugins/extractors/metabase/README.md
  plugins/extractors/metabase/client.go
  plugins/extractors/metabase/main_test.go
  plugins/extractors/metabase/metabase.go
  plugins/extractors/metabase/metabase_test.go
  plugins/extractors/metabase/models.go
  plugins/extractors/metabase/queryhelper.go
  plugins/extractors/metabase/testdata/dashboard_1.json
  plugins/extractors/metabase/testdata/dashboards.json
  plugins/extractors/metabase/testdata/database_2.json
  plugins/extractors/metabase/testdata/database_3.json
  plugins/extractors/metabase/testdata/expected.json
  plugins/extractors/metabase/testdata/table_2.json
  plugins/extractors/metabase/testdata/table_5.json
  plugins/extractors/postgres/postgres.go
  plugins/extractors/postgres/postgres_test.go
Labels: enhancement, extractor

#267 feat(tableau): add tableau metadata extractor
  docs/docs/reference/extractors.md
  go.mod
  go.sum
  plugins/extractors/populate.go
  plugins/extractors/tableau/README.md
  plugins/extractors/tableau/builder.go
  plugins/extractors/tableau/builder_test.go
  plugins/extractors/tableau/client.go
  plugins/extractors/tableau/client_test.go
  plugins/extractors/tableau/fixtures/get_projects_rest.yaml
  plugins/extractors/tableau/fixtures/get_workbooks_by_project_graphql_client.yaml
  plugins/extractors/tableau/fixtures/get_workbooks_graphql_e2e.yaml
  plugins/extractors/tableau/fixtures/init_client_success.yaml
  plugins/extractors/tableau/models.go
  plugins/extractors/tableau/tableau.go
  plugins/extractors/tableau/tableau_test.go
  plugins/extractors/tableau/testdata/dashboards_proto.json
  plugins/extractors/tableau/testdata/projects_response.json
  plugins/extractors/tableau/testdata/workbooks_by_project_response.json
Labels: extractor

#270 feat: add optimus extractor
  docs/docs/contribute/guide.md
  docs/docs/reference/extractors.md
  go.mod
  go.sum
  models/odpf/assets/bucket.pb.go
  models/odpf/assets/dashboard.pb.go
  models/odpf/assets/group.pb.go
  models/odpf/assets/job.pb.go
  models/odpf/assets/table.pb.go
  models/odpf/assets/topic.pb.go
  models/urn.go
  plugins/extractors/metabase/metabase_test.go
  plugins/extractors/optimus/README.md
  plugins/extractors/optimus/client.go
  plugins/extractors/optimus/models.go
  plugins/extractors/optimus/optimus.go
  plugins/extractors/optimus/optimus_test.go
  plugins/extractors/optimus/testdata/expected.json
  plugins/extractors/populate.go
  test/mocks/plugin.go
  test/utils/assert.go
Labels: extractor

#273 feat(optimus): use grpc to connect
  docs/docs/reference/extractors.md
  go.mod
  go.sum
  plugins/extractors/optimus/client.go
  plugins/extractors/optimus/models.go
  plugins/extractors/optimus/optimus.go
  plugins/extractors/optimus/optimus_test.go
Labels: enhancement, extractor
